In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import (
    col, to_date, sum as _sum, countDistinct, count, when, round
)

In [2]:
spark = SparkSession.builder \
    .appName("KPI_Job") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.cores", "2") \
    .getOrCreate()

In [3]:
spark

In [8]:
order_items_df = spark.read.option("header", True) \
    .option("inferSchema", True) \
    .csv("../Data/order_items/order_items_part1.csv")
# order_items_df = order_items_df.limit(1000)

In [9]:
order_items_df.show(10)

+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
| id|order_id|user_id|product_id|   status|         created_at|         shipped_at|       delivered_at|        returned_at|sale_price|
+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
|  1|       1|   9116|      5585| returned|2025-03-30 17:09:26|2025-03-31 05:09:26|2025-04-02 03:09:26|2025-04-07 03:09:26|     81.64|
|  2|       2|   2897|      9376|delivered|2025-03-29 16:28:59|2025-03-29 18:28:59|2025-04-01 07:28:59|               NULL|    112.97|
|  3|       3|   4173|      7218| returned|2025-03-14 11:47:52|2025-03-15 11:47:52|2025-03-16 14:47:52|2025-03-19 14:47:52|     82.71|
|  4|       4|   9360|      4807|delivered|2025-04-02 19:56:36|2025-04-03 19:56:36|2025-04-06 02:56:36|               NULL|     53.62|
|  5|       5|   6930|      6443|delivered|2025-03-09 08:26:56|2025-03-10 03:26:56|2025-03-11 09:26:56|               NULL|    119.93|
|  6|       5|   6930|      4397|delivered|2025-03-09 08:13:56|2025-03-09 23:13:56|2025-03-10 07:13:56|               NULL|    108.13|
|  7|       5|   6930|      6107|delivered|2025-03-09 08:57:56|2025-03-10 02:57:56|2025-03-11 04:57:56|               NULL|     79.87|
|  8|       6|   8130|      6558|delivered|2025-03-20 14:00:14|2025-03-21 09:00:14|2025-03-22 05:00:14|               NULL|     53.94|
|  9|       6|   8130|      8420|delivered|2025-03-20 14:17:14|2025-03-21 08:17:14|2025-03-21 18:17:14|               NULL|     64.72|
| 10|       6|   8130|      4726|delivered|2025-03-20 14:37:14|2025-03-20 16:37:14|2025-03-21 22:37:14|               NULL|     18.13|
+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
only showing top 10 rows

In [5]:
orders_df = spark.read.option("header", True).csv("../Data/orders/orders_part1.csv", inferSchema=True)

In [10]:
orders_df.show()

+--------+-------+---------+-------------------+-------------------+-------------------+-------------------+-----------+
|order_id|user_id|   status|         created_at|        returned_at|         shipped_at|       delivered_at|num_of_item|
+--------+-------+---------+-------------------+-------------------+-------------------+-------------------+-----------+
|       1|   9116| returned|2025-03-30 16:14:26|2025-04-03 10:14:26|2025-03-31 06:14:26|2025-04-02 10:14:26|          1|
|       2|   2897|delivered|2025-03-29 15:39:59|               NULL|2025-03-31 13:39:59|2025-04-02 17:39:59|          1|
|       3|   4173| returned|2025-03-14 11:46:52|2025-03-19 04:46:52|2025-03-15 12:46:52|2025-03-18 04:46:52|          1|
|       4|   9360|delivered|2025-04-02 19:08:36|               NULL|2025-04-03 20:08:36|2025-04-05 22:08:36|          1|
|       5|   6930|delivered|2025-03-09 08:02:56|               NULL|2025-03-11 00:02:56|2025-03-12 16:02:56|          3|
|       6|   8130|delivered|2025-03-20 13:57:14|               NULL|2025-03-22 06:57:14|2025-03-23 13:57:14|          5|
|       7|   1926|delivered|2025-04-05 21:32:11|               NULL|2025-04-07 10:32:11|2025-04-10 06:32:11|          2|
|       8|   2388|delivered|2025-03-27 13:06:32|               NULL|2025-03-28 03:06:32|2025-03-31 03:06:32|          2|
|       9|   8948|delivered|2025-03-17 22:38:27|               NULL|2025-03-19 05:38:27|2025-03-20 04:38:27|          2|
|      10|   1861|delivered|2025-03-30 22:15:44|               NULL|2025-04-01 19:15:44|2025-04-02 11:15:44|          3|
|      11|   8727|delivered|2025-03-24 16:44:38|               NULL|2025-03-25 23:44:38|2025-03-27 00:44:38|          3|
|      12|   3265|delivered|2025-03-08 05:40:30|               NULL|2025-03-09 01:40:30|2025-03-10 02:40:30|          4|
|      13|   5866|delivered|2025-03-23 08:02:01|               NULL|2025-03-24 12:02:01|2025-03-25 14:02:01|          1|
|      14|   1867|delivered|2025-03-18 07:10:26|               NULL|2025-03-20 07:10:26|2025-03-22 17:10:26|          3|
|      15|   3672|delivered|2025-03-28 17:01:30|               NULL|2025-03-28 22:01:30|2025-03-29 13:01:30|          5|
|      16|   8869| returned|2025-04-03 11:21:02|2025-04-11 04:21:02|2025-04-05 07:21:02|2025-04-08 04:21:02|          4|
|      17|   9642|delivered|2025-04-05 12:48:18|               NULL|2025-04-06 00:48:18|2025-04-07 14:48:18|          4|
|      18|   7000|delivered|2025-03-19 05:11:41|               NULL|2025-03-20 01:11:41|2025-03-20 14:11:41|          3|
|      19|   9861|delivered|2025-04-04 16:16:23|               NULL|2025-04-04 23:16:23|2025-04-07 04:16:23|          1|
|      20|   1386|delivered|2025-03-10 13:47:01|               NULL|2025-03-11 06:47:01|2025-03-14 04:47:01|          5|
+--------+-------+---------+-------------------+-------------------+-------------------+-------------------+-----------+
only showing top 20 rows

In [6]:
products_df = spark.read.option("header", True).csv("../Data/products.csv", inferSchema=True)

In [11]:
products_df.show()

+---+------------+-----+--------------+--------------------+--------+------------+-------------+
| id|         sku| cost|      category|                name|   brand|retail_price|   department|
+---+------------+-----+--------------+--------------------+--------+------------+-------------+
|  1|eHZ-67752426|15.58|        Beauty|Down-sized stable...|  Globex|       53.95|Personal Care|
|  2|jlT-35226003|14.74|        Beauty|Organized nationa...|Umbrella|       53.07|Personal Care|
|  3|WHI-96258902| 8.02|Home & Kitchen|Focused discrete ...|Umbrella|       17.24|         Home|
|  4|nLG-40948677|58.32|   Electronics|Future-proofed re...| Initech|       95.54|         Tech|
|  5|teg-89693441|47.67|      Clothing|Optimized respons...|   Stark|       65.19|      Fashion|
|  6|phO-34055321|20.17|        Sports|Up-sized holistic...|  Globex|       44.19|     Outdoors|
|  7|FeZ-14558143|36.98|        Sports|Fundamental async...|   Stark|       46.15|     Outdoors|
|  8|LVl-60282100|62.35|         Books|Reduced contextua...|Umbrella|      103.67|        Media|
|  9|OyE-47000522|97.45|   Electronics|Enterprise-wide i...|   Stark|      119.48|         Tech|
| 10|AeO-85237161|63.76|        Beauty|Up-sized reciproc...|   Wonka|      107.54|Personal Care|
| 11|BjO-26646358| 9.35|   Electronics|Function-based up...|    Acme|       24.61|         Tech|
| 12|Xqt-99336258|27.12|        Sports|Cloned non-volati...|   Wonka|       36.67|     Outdoors|
| 13|nio-32295465|39.66|        Sports|Robust non-volati...| Soylent|       61.32|     Outdoors|
| 14|mRn-48325085|93.98|        Beauty|User-friendly nee...|  Globex|      128.14|Personal Care|
| 15|FYL-27738918|74.27|          Toys|Configurable expl...|   Wonka|       86.62|         Kids|
| 16|oYO-60523721|57.91|        Beauty|Triple-buffered i...|   Stark|       93.72|Personal Care|
| 17|ZLN-78527855|26.76|   Electronics|Intuitive foregro...| Soylent|        33.2|         Tech|
| 18|hLF-24396648|25.04|   Electronics|Re-engineered hom...| Soylent|       72.47|         Tech|
| 19|sav-97812581|67.27|      Clothing|Streamlined needs...| Initech|       90.07|      Fashion|
| 20|jlm-51774189|30.16|      Clothing|Open-architected ...| Soylent|       46.26|      Fashion|
+---+------------+-----+--------------+--------------------+--------+------------+-------------+
only showing top 20 rows

In [13]:
orders_df = orders_df.withColumn("order_date", to_date(col("created_at")))
order_items_df = order_items_df.withColumn("sale_price", col("sale_price").cast("float"))

In [15]:
joined_category_df = (
            order_items_df
            .join(orders_df.select("order_id", "order_date"), on="order_id")
            .join(products_df.select(col("id").alias("product_id"), "category"), on="product_id")
            .withColumn("is_returned", when(col("status") == "returned", 1).otherwise(0))
        )

In [16]:
joined_category_df.show()

+----------+--------+---+-------+---------+-------------------+-------------------+-------------------+-------------------+----------+----------+--------------+-----------+
|product_id|order_id| id|user_id|   status|         created_at|         shipped_at|       delivered_at|        returned_at|sale_price|order_date|      category|is_returned|
+----------+--------+---+-------+---------+-------------------+-------------------+-------------------+-------------------+----------+----------+--------------+-----------+
|      5585|       1|  1|   9116| returned|2025-03-30 17:09:26|2025-03-31 05:09:26|2025-04-02 03:09:26|2025-04-07 03:09:26|     81.64|2025-03-30|      Clothing|          1|
|      9376|       2|  2|   2897|delivered|2025-03-29 16:28:59|2025-03-29 18:28:59|2025-04-01 07:28:59|               NULL|    112.97|2025-03-29|   Electronics|          0|
|      7218|       3|  3|   4173| returned|2025-03-14 11:47:52|2025-03-15 11:47:52|2025-03-16 14:47:52|2025-03-19 14:47:52|     82.71|2025-03-14|      Clothing|          1|
|      4807|       4|  4|   9360|delivered|2025-04-02 19:56:36|2025-04-03 19:56:36|2025-04-06 02:56:36|               NULL|     53.62|2025-04-02|        Sports|          0|
|      6443|       5|  5|   6930|delivered|2025-03-09 08:26:56|2025-03-10 03:26:56|2025-03-11 09:26:56|               NULL|    119.93|2025-03-09|      Clothing|          0|
|      4397|       5|  6|   6930|delivered|2025-03-09 08:13:56|2025-03-09 23:13:56|2025-03-10 07:13:56|               NULL|    108.13|2025-03-09|          Toys|          0|
|      6107|       5|  7|   6930|delivered|2025-03-09 08:57:56|2025-03-10 02:57:56|2025-03-11 04:57:56|               NULL|     79.87|2025-03-09|        Sports|          0|
|      6558|       6|  8|   8130|delivered|2025-03-20 14:00:14|2025-03-21 09:00:14|2025-03-22 05:00:14|               NULL|     53.94|2025-03-20|   Electronics|          0|
|      8420|       6|  9|   8130|delivered|2025-03-20 14:17:14|2025-03-21 08:17:14|2025-03-21 18:17:14|               NULL|     64.72|2025-03-20|          Toys|          0|
|      4726|       6| 10|   8130|delivered|2025-03-20 14:37:14|2025-03-20 16:37:14|2025-03-21 22:37:14|               NULL|     18.13|2025-03-20|Home & Kitchen|          0|
|      6866|       6| 11|   8130|delivered|2025-03-20 14:57:14|2025-03-21 01:57:14|2025-03-23 15:57:14|               NULL|    104.74|2025-03-20|Home & Kitchen|          0|
|      4262|       6| 12|   8130|delivered|2025-03-20 14:05:14|2025-03-21 04:05:14|2025-03-22 01:05:14|               NULL|    125.78|2025-03-20|        Sports|          0|
|      2592|       7| 13|   1926|delivered|2025-04-05 22:29:11|2025-04-06 19:29:11|2025-04-08 03:29:11|               NULL|     49.31|2025-04-05|         Books|          0|
|       361|       7| 14|   1926|delivered|2025-04-05 22:16:11|2025-04-06 09:16:11|2025-04-08 04:16:11|               NULL|     47.19|2025-04-05|Home & Kitchen|          0|
|      4501|       8| 15|   2388|delivered|2025-03-27 13:51:32|2025-03-28 01:51:32|2025-03-30 01:51:32|               NULL|    129.29|2025-03-27|         Books|          0|
|      7202|       8| 16|   2388|delivered|2025-03-27 13:44:32|2025-03-27 15:44:32|2025-03-28 02:44:32|               NULL|    148.59|2025-03-27|   Electronics|          0|
|      4089|       9| 17|   8948|delivered|2025-03-17 23:19:27|2025-03-18 07:19:27|2025-03-20 18:19:27|               NULL|     73.78|2025-03-17|        Beauty|          0|
|      5710|       9| 18|   8948|delivered|2025-03-17 23:11:27|2025-03-18 07:11:27|2025-03-20 21:11:27|               NULL|     30.67|2025-03-17|          Toys|          0|
|      1623|      10| 19|   1861|delivered|2025-03-30 22:46:44|2025-03-31 14:46:44|2025-04-03 09:46:44|               NULL|     57.26|2025-03-30|        Beauty|          0|
|      6221|      10| 20|   1861|delivered|2025-03-30 22:53:44|2025-03-31 11:53:44|2025-04-01 18:53:44|               NULL|     90.97|2025-03-30|         Books|          0|
+----------+--------+---+-------+---------+-------------------+-------------------+-------------------+-------------------+----------+----------+--------------+-----------+
only showing top 20 rows

In [25]:
# First KPI table
category_kpis_df = (
            joined_category_df.groupBy("category", "order_date")
            .agg(
                round(_sum("sale_price"), 2).alias("daily_revenue"),
                round(_sum("sale_price") / countDistinct("order_id"), 2).alias("avg_order_value"),
                round(_sum("is_returned") / countDistinct("order_id"), 4).alias("avg_return_rate")
            ))

In [26]:
category_kpis_df.show()

+--------------+----------+-------------+---------------+---------------+
|      category|order_date|daily_revenue|avg_order_value|avg_return_rate|
+--------------+----------+-------------+---------------+---------------+
|          Toys|2025-04-06|       413.42|          59.06|         0.1429|
|Home & Kitchen|2025-03-30|       220.37|          55.09|            0.5|
|          Toys|2025-03-21|       575.94|          95.99|            0.0|
|   Electronics|2025-03-09|      1187.99|           99.0|         0.0833|
|      Clothing|2025-03-11|       359.25|          71.85|            0.2|
|   Electronics|2025-03-17|       375.24|          93.81|            0.0|
|        Sports|2025-03-19|       715.61|          71.56|            0.2|
|      Clothing|2025-03-15|       410.53|          82.11|            0.2|
|Home & Kitchen|2025-03-15|       784.42|         112.06|         0.1429|
|        Sports|2025-04-01|       444.26|          74.04|         0.3333|
|      Clothing|2025-04-04|       315.37|         105.12|            0.0|
|        Beauty|2025-03-28|       149.32|          37.33|           0.25|
|      Clothing|2025-03-28|       875.67|         109.46|           0.25|
|        Sports|2025-04-06|       759.23|           94.9|           0.25|
|         Books|2025-04-05|       687.19|          76.35|         0.3333|
|   Electronics|2025-03-24|       811.41|         101.43|          0.375|
|        Beauty|2025-03-21|        283.9|          94.63|            0.0|
|      Clothing|2025-03-08|       376.59|          75.32|            0.2|
|      Clothing|2025-04-03|       306.87|          61.37|            0.2|
|          Toys|2025-03-16|       810.22|         115.75|            0.0|
+--------------+----------+-------------+---------------+---------------+
only showing top 20 rows

In [ ]:
# Second KPI table
joined_order_df = (
            order_items_df
            .join(orders_df.select("order_id", "order_date"), on="order_id")
            .withColumn("is_returned", when(col("status") == "returned", 1).otherwise(0))
        )

In [22]:
order_kpis_df = (
            joined_order_df.groupBy("order_date")
            .agg(
                countDistinct("order_id").alias("total_orders"),
                round(_sum("sale_price"), 2).alias("total_revenue"),
                count("id").alias("total_items_sold"),
                round(_sum("is_returned") / countDistinct("order_id"), 4).alias("return_rate"),
                countDistinct("user_id").alias("unique_customers")
            )
)

In [23]:
order_kpis_df.show()

+----------+------------+-------------+----------------+-----------+----------------+
|order_date|total_orders|total_revenue|total_items_sold|return_rate|unique_customers|
+----------+------------+-------------+----------------+-----------+----------------+
|2025-03-23|          16|      3712.99|              47|     0.4375|              16|
|2025-03-16|          13|      2333.34|              32|     0.4615|              13|
|2025-03-08|          21|      4351.86|              55|      0.381|              21|
|2025-03-12|          18|      3879.97|              50|     0.6111|              18|
|2025-03-13|          13|       2777.5|              37|     0.6154|              13|
|2025-03-31|          14|      3981.04|              48|     1.0714|              14|
|2025-03-19|          18|      4229.11|              54|     0.2778|              18|
|2025-04-05|          19|      4322.24|              60|     0.4737|              19|
|2025-03-10|          11|      2539.75|              32|     0.5455|              11|
|2025-03-14|          16|      3540.05|              49|      0.625|              16|
|2025-03-30|          18|      4152.53|              50|     0.6111|              18|
|2025-04-02|          29|      6062.91|              76|     0.5172|              29|
|2025-03-21|          16|      3554.38|              43|     0.0625|              16|
|2025-03-28|          16|      3766.45|              48|     1.1875|              16|
|2025-03-18|          21|      3441.45|              46|     0.4286|              21|
|2025-03-27|          20|      4305.68|              54|        0.2|              20|
|2025-04-03|          13|       3646.0|              45|     0.3846|              13|
|2025-03-17|          16|      3383.65|              47|     0.6875|              16|
|2025-03-25|          21|      4799.35|              62|     0.2381|              21|
|2025-04-04|          16|      2681.18|              37|      0.375|              16|
+----------+------------+-------------+----------------+-----------+----------------+
only showing top 20 rows

In [4]:
df_part = spark.read.parquet("../ECS-image/data/KPI_Output/clean_order_items.parquet/part-00000-da9b194f-86c1-46df-b79c-137885a0838d-c000.snappy.parquet")

In [5]:
df_part.show()

+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
| id|order_id|user_id|product_id|   status|         created_at|         shipped_at|       delivered_at|        returned_at|sale_price|
+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
|  1|       1|   9116|      5585| returned|2025-03-30 17:09:26|2025-03-31 05:09:26|2025-04-02 03:09:26|2025-04-07 03:09:26|     81.64|
|  2|       2|   2897|      9376|delivered|2025-03-29 16:28:59|2025-03-29 18:28:59|2025-04-01 07:28:59|               NULL|    112.97|
|  3|       3|   4173|      7218| returned|2025-03-14 11:47:52|2025-03-15 11:47:52|2025-03-16 14:47:52|2025-03-19 14:47:52|     82.71|
|  4|       4|   9360|      4807|delivered|2025-04-02 19:56:36|2025-04-03 19:56:36|2025-04-06 02:56:36|               NULL|     53.62|
|  5|       5|   6930|      6443|delivered|2025-03-09 08:26:56|2025-03-10 03:26:56|2025-03-11 09:26:56|               NULL|    119.93|
|  6|       5|   6930|      4397|delivered|2025-03-09 08:13:56|2025-03-09 23:13:56|2025-03-10 07:13:56|               NULL|    108.13|
|  7|       5|   6930|      6107|delivered|2025-03-09 08:57:56|2025-03-10 02:57:56|2025-03-11 04:57:56|               NULL|     79.87|
|  8|       6|   8130|      6558|delivered|2025-03-20 14:00:14|2025-03-21 09:00:14|2025-03-22 05:00:14|               NULL|     53.94|
|  9|       6|   8130|      8420|delivered|2025-03-20 14:17:14|2025-03-21 08:17:14|2025-03-21 18:17:14|               NULL|     64.72|
| 10|       6|   8130|      4726|delivered|2025-03-20 14:37:14|2025-03-20 16:37:14|2025-03-21 22:37:14|               NULL|     18.13|
| 11|       6|   8130|      6866|delivered|2025-03-20 14:57:14|2025-03-21 01:57:14|2025-03-23 15:57:14|               NULL|    104.74|
| 12|       6|   8130|      4262|delivered|2025-03-20 14:05:14|2025-03-21 04:05:14|2025-03-22 01:05:14|               NULL|    125.78|
| 13|       7|   1926|      2592|delivered|2025-04-05 22:29:11|2025-04-06 19:29:11|2025-04-08 03:29:11|               NULL|     49.31|
| 14|       7|   1926|       361|delivered|2025-04-05 22:16:11|2025-04-06 09:16:11|2025-04-08 04:16:11|               NULL|     47.19|
| 15|       8|   2388|      4501|delivered|2025-03-27 13:51:32|2025-03-28 01:51:32|2025-03-30 01:51:32|               NULL|    129.29|
| 16|       8|   2388|      7202|delivered|2025-03-27 13:44:32|2025-03-27 15:44:32|2025-03-28 02:44:32|               NULL|    148.59|
| 17|       9|   8948|      4089|delivered|2025-03-17 23:19:27|2025-03-18 07:19:27|2025-03-20 18:19:27|               NULL|     73.78|
| 18|       9|   8948|      5710|delivered|2025-03-17 23:11:27|2025-03-18 07:11:27|2025-03-20 21:11:27|               NULL|     30.67|
| 19|      10|   1861|      1623|delivered|2025-03-30 22:46:44|2025-03-31 14:46:44|2025-04-03 09:46:44|               NULL|     57.26|
| 20|      10|   1861|      6221|delivered|2025-03-30 22:53:44|2025-03-31 11:53:44|2025-04-01 18:53:44|               NULL|     90.97|
+---+--------+-------+----------+---------+-------------------+-------------------+-------------------+-------------------+----------+
only showing top 20 rows